body {
    font-family: 'Poppins', sans-serif;
}

#separate-nav-body {
    height: 150px;
}

#id, ul{
    list-style-type: none;
}

#id, .name {
    color: #E0E0E0;
}

#twitter-check {
    height: 25px;
    width: 35px;
}

#contact-tweet {
    text-align: center;
    border-radius: 16px;
    height: 30px;
    font-weight: bold;
}

#iraq-image {
    height: 100px;
    width: auto;
}

#dubai-image {
    height: 100px;
    width: 145.7px;
}

