body {
    font-family: 'Poppins', sans-serif;
}

#separate-nav-body {
    height: 150px;
}

#id, ul{
    list-style-type: none;
}

#id, .name {
    color: #E0E0E0;
}

#twitter-check {
    height: 25px;
    width: 35px;
}

#contact-tweet {
    text-align: center;
    border-radius: 16px;
    height: 35px;
    font-weight: bolder;
    background-color: rgb(100,149,237);
    color: white;
}

#iraq-image {
    height: 100px;
    width: auto;
}

#dubai-image {
    height: 100px;
    width: 145.7px;
}

.info-section {
    background-color: #B4D5FF;
}

.icon-color {
    color: rgb(0,0,128);
}

.blog-post {
    background-color: white;
}


