body {
    font-family: 'Poppins', sans-serif;
}

#separate-nav-body {
    height: 150px;
}

#twitter-icon {
    color: blue;
}

#info>ul{
    list-style-type: none;
}

.name {
    color: #E0E0E0;
}

#twitter-check {
    height: 25px;
    width: 35px;
}

#contact-tweet {
    text-align: center;
    border-radius: 16px;
    height: 35px;
    font-weight: bolder;
    background-color: rgb(100,149,237);
    color: white;
}

#iraq-image {
    height: 100px;
    width: auto;
}

#dubai-image {
    height: 100px;
    width: 145.7px;
}

.info-section {
    background-color: #B4D5FF;
}

.icon-color {
    color: rgb(0,0,128);
}

.blog-post {
    background-color: white;
}

.show-large {
    visibility: hidden;
    padding: 0;
}


/* Large devices (desktops, 992px and up) */
@media screen and (min-width:768px) {
    .show-large {
        visibility: visible;
    }
}


