:root {
    --text-info: lightblue;
    --text-success: lightgreen;
    --text-warning: lightyellow;
    --text-error: lightpink;

}


body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border-radius: 5px;
}

.message-info {
    /*background-color: lightblue;*/
    background-color: var(--text-info);
    padding: 1%;
    margin: .5em 0;
}

.message-success {
    /*background-color: lightgreen;*/
    background-color: var(--text-success);
    padding: 1%;
    margin: .5em 0;
}

.message-warning {
    /*background-color: yellow;*/
    background-color: var(--text-warning);
    padding: 1%;
    margin: .5em 0;
}

.message-error {
    /*background-color: lightpink;*/
    background-color: var(--text-error);
    padding: 1%;
    margin: .5em 0;
}