hr {
    color: darkgreen;
    padding: 2px;
}

.row h2 {
    color: blue;
}

.digital-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* screen sizes 500px and up */
@media screen and (min-width:768px) {
    .digital-media {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .job-title  {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    job-description {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}